body {
    width: 90%;
    margin: 0 auto;
    background-color:black;
    color:white;
    font-family: Roboto;
}

h2 {
    font-weight: 400;
}

.music-container {
    display: inline-block;
    margin: 15px;
}

.music-card {
    width: 500px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(40,40,40);
    color: white;
    text-decoration: none;

    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

.music-card:hover {
    background-color: rgb(255, 254, 254);
    color: black;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

.music-card img {
    width: 100%;
    border-radius: 20px;
}

.music-card p {
    align-self: first baseline;
    margin: 15px 0px 10px 10px;
    font-size: 20px;
}

.carousel-container {
    display: flex;
    align-items: center;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carousel-button {
    background: none;
    margin: 0 10px;
    border: none;
    color: white;
    font-size: 50px;
    height: 100%;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.carousel-button:hover {
    cursor: pointer;
}

.redirect {
    margin: 50px;
    text-align: center;
}

.redirect-button {
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

.redirect-button:hover {
    background-color: rgb(210, 203, 5);
    color: white;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}
