@use "abstracts/colors";

.redirect {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  // text-align: center;
}

.redirect-button {
  border: 1px solid colors.$PRIMARY_COLOR;
  border-radius: 30px;
  padding: 15px;
  text-decoration: none;
  color: colors.$PRIMARY_COLOR;
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  white-space: nowrap;

  &:hover {
    background-color: colors.$SECONDARY_COLOR;
  }
}
