@use "abstracts/colors";
@use "abstracts/mixins";

.carousel-container {
  display: flex;
  align-items: center;
}

.music-carousel {
  @include mixins.phone-media {
    margin-left: -3rem;
    margin-right: -3rem;
  }

  @include mixins.tablet-media {
    margin-left: 0;
    margin-right: 0;
  }

  @include mixins.desktop-media {
    margin-left: 0;
    margin-right: 0;
  }
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  align-items: center;
}

.carousel-button {
  background: none;
  margin: 0 0.625rem;
  border: none;
  color: colors.$PRIMARY_COLOR;
  font-size: 3.125rem;
  width: 2rem;
  height: auto;
  @include mixins.no-select;

  &:hover{
    cursor: pointer;
  }
}

.carousel-img {
  scroll-snap-align: start;
  max-width: 400px;
  max-height: 400px;
  margin: 30px;
  @include mixins.no-drag;
  @include mixins.no-select;
}
