#landing-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 0 88px 0;
}

#landing-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: top 0.8s ease;

  @media (max-width: 950px) {
    top: 45%;
  }

  @media (max-width: 600px) {
    top: 55%;
  }
}

#logo {
  width: 16rem; 
  height: auto;
  display: block;
  margin: auto;
  transition: width 1s ease;
}

#est {
  font-size: 0.875rem;
  line-height: 0px;
}

#book-button {
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 45px;
}
