@use "abstracts/colors";
@use "abstracts/mixins";

.content {
  padding: 0 18px;
  background-color: colors.$PRIMARY_COLOR;
  border-radius: 0px 0px 10px 10px;
  color : colors.$BACKGROUND_COLOR;
  margin-bottom: 10px;
  display: none;
  gap: 10px;
}

.active {
  background-color: colors.$PRIMARY_COLOR;
  color: colors.$BACKGROUND_COLOR;

  &::after {
    content: "\2212";
    color: colors.$BACKGROUND_COLOR;
    border-radius: 10px 10px 0px 0px;
  }
}

.collapsible {
  background-color: colors.$BACKGROUND_COLOR;
  border-radius: 10px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid colors.$PRIMARY_COLOR;
  text-align: left;
  outline: none;
  font-size: 1rem;
  font-family: Poppins;
  color: colors.$PRIMARY_COLOR;
  margin-bottom: 10px;

  &::after {
    content: '\002B';
    float: right;
    margin-left: 5px;
    font-size: 1rem;
    color: colors.$PRIMARY_COLOR;
  }

  &:hover {
    background-color: colors.$PRIMARY_COLOR;
    color: colors.$BACKGROUND_COLOR;

    &::after {
      color: colors.$BACKGROUND_COLOR;
    }
  }

  &.clicked {
    background-color: colors.$PRIMARY_COLOR;
    color: colors.$BACKGROUND_COLOR;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;

    &::after {
      content: "\2212";
      color: colors.$BACKGROUND_COLOR;
    }
  }
}

.table-image {
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 10px;

  @include mixins.breakpoint(xs) {
    width: 50vw;
  }
  @include mixins.breakpoint(sm) {
    width: 30vw;
  }
  @include mixins.breakpoint(md) {
    width: 20vw;
  }
  @include mixins.breakpoint(lg) {
    width: 14vw;
  }
  @include mixins.breakpoint(xl) {
    width: 14vw;
  }

  @include mixins.no-drag;
  @include mixins.no-select;
}

.table-style {
  display: grid;

  @include mixins.breakpoint(xs) {
    grid-template-columns: repeat(1, 1fr);
  }

  @include mixins.breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mixins.breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mixins.breakpoint(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include mixins.breakpoint(xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.table-element {
  text-align: center;
  margin-bottom: 20px;

  @include mixins.phone-media {
    font-size: 0.9rem;
  }
  @include mixins.tablet-media {
    font-size: 0.75rem;
  }
  @include mixins.desktop-media {
    font-size: 0.75rem;
  }
}

.table-name {
  font-weight: bold;
}

.grade {
  display: block !important;
}
