@use "abstracts/colors";
@use "abstracts/mixins";

.music-container {
  display: inline-block;
  margin: 15px;
}

.music-card {
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(82, 82, 82, 0.36);
  color: colors.$PRIMARY_COLOR;
  text-decoration: none;

  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;

  @include mixins.phone-media {
    width: 20rem;
  }

  @include mixins.tablet-media {
    width: 20rem;
  }

  @include mixins.desktop-media {
    width: 31.25rem;
  }

  &:hover {
    background-color: colors.$PRIMARY_COLOR;
    color: colors.$BACKGROUND_COLOR;
  }

  .music-image {
    aspect-ratio: 5/3;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    border-radius: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      @include mixins.no-drag;
    }
  }

  p {
    align-self: first baseline;
    margin: 15px 0px 10px 10px;
    font-size: 1.25rem;

    @include mixins.phone-media {
      font-size: 1rem;
    }


    @include mixins.tablet-media {
      font-size: 1.125rem;
    }

    @include mixins.desktop-media {
      font-size: 1.25rem;
    }
  }
}
