@use "abstracts/colors";
@use "abstracts/mixins";

.music-container {
  display: inline-block;
  margin: 15px;
}

.music-card {
  width: 500px;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(82, 82, 82, 0.36);
  color: colors.$PRIMARY_COLOR;
  text-decoration: none;

  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;

  &:hover {
    background-color: colors.$PRIMARY_COLOR;
    color: colors.$BACKGROUND_COLOR;
  }

  img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    @include mixins.no-drag;
  }

  p {
    align-self: first baseline;
    margin: 15px 0px 10px 10px;
    font-size: 20px;
  }
}
