@use "abstracts/colors";

html {
  scroll-behavior: smooth;
  font-size: 100%;

  @media (max-width: 768px) {
    font-size: 87.5%; // 14px
  }

  @media (max-width: 480px) {
    font-size: 75%; // 12px
  }
}

body {
  margin: 0 auto;
  color: colors.$PRIMARY_COLOR;
  background-color: colors.$BACKGROUND_COLOR;
  font-family: Poppins;
}

main {
  width: 70%;
  margin: auto;
}
