@use "abstracts/colors";
@use "abstracts/mixins";

html {
  scroll-behavior: smooth;

  @include mixins.breakpoint(xs) {
    font-size: 75%;
  }

  @include mixins.breakpoint(sm) {
    font-size: 75%;
  }

  @include mixins.breakpoint(md) {
    font-size: 87.5%;
  }

  @include mixins.breakpoint(lg) {
    font-size: 100%;
  }

  @include mixins.breakpoint(xl) {
    font-size: 112.5%;
  }
}

body {
  margin: 0 auto;
  color: colors.$PRIMARY_COLOR;
  background-color: colors.$BACKGROUND_COLOR;
  font-family: Poppins;
}

main {
  width: 70%;
  margin: auto;
}
