@use "abstracts/colors";

.section-title {
  font-size: 2rem;
  font-weight: 400;
  margin: 12px 0px;
}

.group-name {
  display: block;
  font-family: Caveat;
  font-size: 6.25rem;
  color: colors.$SECONDARY_COLOR;
}

.intro-text {
  font-size: 2.25rem;
  line-height: 3.375rem;
}

p {
  font-size: 1.5rem;
  line-height: 2.25rem;
}
