@use "colors";

@mixin no-drag {
  & {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
}

@mixin no-select {
  & {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition-colors($duration: 300ms) {
  transition-property: background-color, color;
  transition-duration: $duration;
  transition-timing-function: ease-in;
}

@mixin hover-invert {
  background-color: colors.$PRIMARY_COLOR;
  color: colors.$BACKGROUND_COLOR;
}

@mixin responsive-grid($xs, $sm, $md, $lg, $xl) {
  display: grid;

  @include breakpoint(xs) {
    grid-template-columns: repeat($xs, 1fr);
  }

  @include breakpoint(sm) {
    grid-template-columns: repeat($sm, 1fr);
  }

  @include breakpoint(md) {
    grid-template-columns: repeat($md, 1fr);
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat($lg, 1fr);
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat($xl, 1fr);
  }
}

@mixin breakpoint($size) {
  @if $size == xs {
    & {
      @media (min-width: 320px) {
        @content;
      }
    }
  } @else if $size == sm {
    & {
      @media (min-width: 480px) {
        @content;
      }
    }
  } @else if $size == md {
    & {
      @media (min-width: 768px) {
        @content;
      }
    }
  } @else if $size == lg {
    & {
      @media (min-width: 1025px) {
        @content;
      }
    }
  } @else if $size == xl {
    & {
      @media (min-width: 1281px) {
        @content;
      }
    }
  }
}


@mixin phone-media {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet-media {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop-media {
  @media (min-width: 1025px) {
    @content;
  }
}
