<footer class="footer">
    <img class="logo-left" src="images/icons/dnlogo.webp">
    <div class="copyright">&copy 2024, Duly Noted. All Rights Reserved</div>
    <div class="socials">
        <a href="https://www.facebook.com/ucsddulynoted/"><img class="social" src="images/icons/facebook.webp"></a>
        <a href="https://www.instagram.com/ucsddulynoted/"><img class="social" src="images/icons/instagram.webp"></a>
        <a href="https://www.tiktok.com/@ucsddulynoted"><img class="social" src="images/icons/tiktok.webp"></a>
        <a href="mailto:ucsddulynoted@gmail.com"><img class="social" src="images/icons/email.webp"></a>
    </div>
</footer>
<script src=""></script>