<footer class="footer">
    <div class="logo-left">
        <img src="{{ (resources.Get "images/icons/dnlogo.webp").RelPermalink }}">
    </div>
    <div class="copyright">&copy; {{ .Site.Params.copyright_year }}, Duly Noted. All Rights Reserved</div>
    <div class="socials">
        <a href="{{ .Site.Params.social.facebook.url }}">
            <img class="social" src="{{ (resources.Get "images/icons/facebook.webp").RelPermalink }}">
        </a>
        <a href="{{ .Site.Params.social.instagram.url }}">
            <img class="social" src="{{ (resources.Get "images/icons/instagram.webp").RelPermalink }}">
        </a>
        <a href="{{ .Site.Params.social.tiktok.url }}">
            <img class="social" src="{{ (resources.Get "images/icons/tiktok.webp").RelPermalink }}">
        </a>
        <a href="{{ .Site.Params.social.email.url }}">
            <img class="social" src="{{ (resources.Get "images/icons/email.webp").RelPermalink }}">
        </a>
    </div>
</footer>

<script src="/js/scripts.js"></script>
