<footer class="footer">
    <img class="logo-left" src="/images/icons/dnlogo.webp">
    <div class="copyright">&copy 2024, Duly Noted. All Rights Reserved</div>
    <div class="socials">
        <a href="{{ .Site.Params.social.facebook.url }}"><img class="social" src="/images/icons/facebook.webp"></a>
        <a href="{{ .Site.Params.social.instagram.url }}"><img class="social" src="/images/icons/instagram.webp"></a>
        <a href="{{ .Site.Params.social.tiktok.url }}"><img class="social" src="/images/icons/tiktok.webp"></a>
        <a href="{{ .Site.Params.social.email.url }}"><img class="social" src="/images/icons/email.webp"></a>
    </div>
</footer>
<script src="/js/scripts.js"></script>
