{{ partial "buttons/collapsible" (printf "Current Members %s" .Site.Params.academic_year) }}
<div class="content">
  {{ range .Site.Data.members.current }}
    {{ if and .members (gt (len .members) 0) }}
      <h3>{{ .year }}</h3>
      <div class="table-style">
        {{ range .members }}
          {{ partial "members/table-card.html" (dict
            "imagepath" (path.Join "images/members/current" .path)
            "name" .name
            "content" (printf "%s<br>%s%s" .voice .major (cond (not .minor) "" (print "<br>" .minor)))
          )}}
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</div>
