@use "abstracts/colors";

.footer {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.copyright {
  color: colors.$BACKGROUND_COLOR;
  text-align: center;
}


.logo-left{
  padding: 2rem;
  max-width: 150px;
}

.logo-left img {
  max-width: 100%;
  height: auto;
}

.socials {
  text-align: center;
  padding: 2rem;
}

.social {
  max-width: 24px;
  height: auto;
}
