@use "abstracts/colors";
@use "abstracts/mixins";

.topnav {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%));
  background: linear-gradient(
      to right,
      colors.$PRIMARY_COLOR_00,
      colors.$PRIMARY_COLOR_25 25% 75%,
      colors.$PRIMARY_COLOR_00);
  border-radius: 30px;
  text-align: center;
  margin-top: 25px;
  z-index: 100000000;

  @include mixins.show-on-tablet-desktop;
}

.topnav a {
  font-size: 0.75rem;
  border: 1px solid colors.$PRIMARY_COLOR;
  padding-top: 30px;
  border-radius: 30px;
  padding: 15px;
  margin: 0 20px;
  text-decoration: none;
  color: colors.$PRIMARY_COLOR;
  @include mixins.transition-colors;
  text-align: center;
  transition: margin 0.8s ease;

  &:hover {
    background-color: colors.$SECONDARY_COLOR;
    @include mixins.transition-colors;
  }

  @media (max-width: 1000px) {
    font-size: 70%;
    margin: 0 10px;
  }

  @media (max-width: 800px) {
    font-size: 60%;
    margin: 0 5px;
  }

  @media (max-width: 750px) {
    margin: 0 2.5px;
  }

  @media (max-width: 600px) {
    margin: 0;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100vh;
  background-color: colors.$PRIMARY_COLOR;
  flex-direction: column;
  padding: 60px 20px 20px;
  transition: left 0.3s ease;
  z-index: 100000001;

  @include mixins.show-on-phone(flex);

  &.active {
    left: 0;

    &::after {
      content: "";
    }
  }

  a {
    color: colors.$BACKGROUND_COLOR;
    text-decoration: none;
    padding: 15px 0;
    border-bottom: 1px solid colors.$PRIMARY_COLOR_20;
    font-size: 1rem;

    &:hover {
      background-color: colors.$SECONDARY_COLOR;
      padding-left: 10px;
      transition: all 0.3s ease;
    }
  }
}

.hamburger {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 2rem;
  color: colors.$PRIMARY_COLOR;
  cursor: pointer;
  z-index: 100000002;
  padding: 10px 15px;
  border-radius: 5px;

  @include mixins.show-on-phone;
}
