{{/*  TODO: Figure out how to have home/about highlighted when active page  */}}
<nav class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/#music">Music</a>
  <a href="/#members">Members</a>
  <a href="/#auditions">Auditions</a>
  <a href="/#contact">Contact</a>
  <a href="/#support">Support</a>
</nav>

<div class="hamburger" id="hamburger">
  ☰
</div>

<nav class="mobile-nav" id="mobile-nav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/#music">Music</a>
  <a href="/#members">Members</a>
  <a href="/#auditions">Auditions</a>
  <a href="/#contact">Contact</a>
  <a href="/#support">Support</a>
</nav>