<div class="carousel-container">
  <button class="carousel-button" id="prevBtn">&#9001;</button>
  <div class="carousel" id="musicCarousel">
    {{ range .Site.Data.carousels.music }}
      <div class="music-container">
        {{ $image := resources.Get (path.Join "images/music" .image )}}
        {{ $image := $image.Process "webp fit 500x300" }}
        <a class="music-card" href="{{ .url }}">
          <img src="{{ $image.RelPermalink }}" alt="{{ .title }}" loading="lazy">
          <p>"{{ .title }} - {{ .artist }}</p>
        </a>
      </div>
    {{ end }}
  </div>
  <button class="carousel-button" id="nextBtn">&#9002;</button>
</div>
