@use "abstracts/colors";
@use "abstracts/mixins";

.audition-container {
  text-align: center;
}

.audition-list {
  width: 80%;
  display: inline-block;
  text-align: left;
  font-size: 1.25rem;
  line-height: 2.25rem;

  li {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.audition-title {
  font-weight: bold;
}

.audition-note {
  display: inline-block;
  font-style: italic;

  span {
    font-weight: bold;
    text-decoration: underline;
  }
}

.faq {
  width: 90%;
  margin: auto;
}

.faq-grid {
  display: grid;
  gap: 30px;

    @include mixins.breakpoint(xs) {
    grid-template-columns: repeat(1, 1fr);
  }

  @include mixins.breakpoint(sm) {
    grid-template-columns: repeat(1, 1fr);
  }

  @include mixins.breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mixins.breakpoint(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mixins.breakpoint(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.faq-question {
  font-weight: bold;
  font-size: 1.75rem;
}

.faq-answer {
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.faq-extra {
  width: 75%;
  font-size: 1.25rem;
  margin: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.faq-header {
  font-size: 2.25rem;
}

.faq-bold {
  font-weight: bold;
}

.faq-redirect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.redirect-icon {
  transform: scale(0.8);
}

.secondary-color {
  color: colors.$SECONDARY_COLOR;
}

h2 {
  font-size: 2.25rem;
}

.audition-date {
  font-size: 1.25rem;
}

a {
  color: white;
}

.center-image {
  max-width: 70%;
  max-height: 100vh;
  margin: auto;
}

.center-image-container {
  display: grid;
}

.followup {
  display: block;
  font-size: 2.25rem;
  font-weight: 500;
  padding-top: 25px;
}
.row {
  display: flex;
  flex-direction: row; 
  gap: 20px;
  transition: flex-direction 0.4s ease;

}

.column {
  flex: 1;
  font-size: 1.25rem;
}

.column p {
  margin-top: 0;
  margin-bottom: 24;
}

@media (max-width: 800px){
  .row {
      flex-direction: column;
  }
}

.email {
  color: colors.$PRIMARY_COLOR;
}

.support-paragraph {
  margin-left: auto;
  margin-right: auto;
  width: 605;
}
