html {
    scroll-behavior: smooth;
}
.topnav {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0; left: 0;
    transform: translate(calc(50vw - 50%));
    background: linear-gradient(
        to right,
        #ffffff00,
        rgba(255,255,255,0.25) 25% 75%,
        rgba(255,255,255,0));
    border-radius: 30px;
    text-align: center;
    margin-top: 25px;
    z-index: 100000000;
}
.topnav a{
    font-size: clamp(10px, 0.72vw, 24px);
    border: 1px solid white;
    padding-top: 30px;
    border-radius: 30px;
    padding: 15px;
    margin: 0 20px;
    text-decoration: none;
    color: white;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    text-align: center;
    transition: margin 0.8s ease;
}

@media (max-width: 800px) {
    .topnav a {
        margin: 0 5px; /* Reduce the margin as the screen shrinks */
    }
}

@media (max-width: 480px) {
    .topnav a {
        padding: 5px;
        margin: 0 2.5px; /* Further reduce the margin for very small screens */
    }
}

.topnav a:hover{
    background-color: #FFCA3A;
    color: white;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

#page-button {
    background-color: #FFCA3A;
    color: white;
}

body {
    background-color:black;
    color:white;
    font-family: Poppins;
    margin: 0;
}

main {
    width: 70%;
    margin: auto;
}

#landing-page {
    position: relative;
    width: 100%;
    margin: auto;
}

#landing-image {
    width: 100%;
}

#centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo {
    width: 50%;
    display: block;
    margin: auto;
}

#est {
    font-size: 90%;
    line-height: 0px;
}

#book-button {
    font-size: clamp(14px, 1vw, 24px);
    padding: 20px;
    border-radius: 45px;
}

p {
    font-size: 24px;
    line-height: 36px;
}

.section-title {
    font-size: 32px;
    font-weight: 400;
    margin: 12px 0px;
}

.center-image{
    max-width: 70%;
    max-height: 100vh;
    margin: auto;
}

.center-image-container{
    display: grid;
}

.copyright {
    color: black;
    padding: 4% 17%;
    text-align: center;
}

.group-name {
    display: block;
    font-family: Caveat;
    font-size: min(10vw, 100px);
    color: #FFCA3A;
    margin: min(1.3vw, 13px) 0;
}

.intro-text {
    font-size: min(3.2vw, 36px);
    line-height: min(4.8vw, 54px);
}

.footer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.logo-left{
    width: 10%;
    padding-left: 4%;
    margin-right: 10%;
}

.music-container {
    display: inline-block;
    margin: 15px;
}

.music-card {
    width: 500px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(82, 82, 82, 0.36);
    color: white;
    text-decoration: none;

    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

.music-card:hover {
    background-color: white;
    color: black;

    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

.music-card img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    -webkit-user-drag: none;;
}

.music-card p {
    align-self: first baseline;
    margin: 15px 0px 10px 10px;
    font-size: 20px;
}

.carousel-container {
    display: flex;
    align-items: center;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    align-items: center;
}

.carousel-button {
    background: none;
    margin: 0 10px;
    border: none;
    color: white;
    font-size: 50px;
    height: 100%;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.carousel-button:hover {
    cursor: pointer;
}

.carousel-img {
    scroll-snap-align: start;
    max-width: 400px;
    max-height: 400px;
    margin: 30px;
    -webkit-user-drag: none;
}

.photo-credits {
    font-size: 12px;
    text-align: right;
}

.redirect {
    margin: 50px;
    text-align: center;
}

.redirect-button {
    border: 1px solid white;
    width: 144px;
    height: 63px;
    border-radius: 30px;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

.redirect-button:hover {
    background-color: #FFCA3A;
    color: white;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

.followup {
    display: block;
    font-size: 50px;
    font-weight: 500;
    padding-top: 25px;
}
.row {
    display: flex;
}

.column {
flex: 50%;
padding: 20px;
}
.email {
    color:white;
}

.socials {
    text-align: right;
    padding-right: 4%;
}

.social {
    width : 10%;
}

.collapsible {
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid white;
    text-align: left;
    outline: none;
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
}

.active, .collapsible:hover {
    background-color: white;
    color : black;
}

.content {
    padding: 0 18px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    color : black;
    margin-bottom: 10px;
    display: none;
    gap: 10px;
}

.collapsible:after {
    content: '\002B';
    float: right;
    margin-left: 5px;
    font-size : 15px;
    color : white;
}

.collapsible:hover {
    color : black;
}

.active:after {
    content: "\2212";
    color : black;
    border-radius: 10px 10px 0px 0px;
}

.collapsible.clicked {
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
}

.table-image {
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 10px;
}

.table-element {
    text-align: center;
    font-size: 0.75em;
    margin-bottom: 5px;
}

.support-paragraph {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.table-style {
    display: grid;
}

@media (min-width: 1200px) {
    .table-style {
        grid-template-columns: repeat(4, 1fr);
    }
    .table-image {
        width : 14vw;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .table-style {
        grid-template-columns: repeat(3, 1fr);
    }
    .table-image {
        width : 20vw;
    }
}

@media (min-width: 500px) and (max-width: 899px) {
    .table-style {
        grid-template-columns: repeat(2, 1fr);
    }
    .table-image {
        width : 30vw;
    }
}

@media (max-width: 499px) {
    .table-style {
        grid-template-columns: 1fr;
    }
    .table-image {
        width : 60vw;
    }
}

.table-name {
    font-weight: bold;
}

.grade {
    display: block !important;
}

.audition-container {
    text-align: center;
}

.audition-list {
    width: 80%;
    display: inline-block;
    text-align: left;
    font-size: 20px;
    line-height: 36px;
}

.audition-title {
    font-weight: bold;
}

.audition-note {
    display: inline-block;
    font-style: italic;
}

.audition-note span {
    font-weight: bold;
    text-decoration: underline;
}

.faq {
    width: 90%;
    margin: auto;
}
.faq-grid {
    display: grid;
    gap: 30px;
}

@media (max-width: 800px) {
    .faq-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    .faq-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1201px) {
    .faq-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.faq-question {
    font-weight: bold;
    font-size: 28px;
}

.faq-answer {
    font-size: 20px;
    line-height: 36px;
}

.faq-extra {
    width: 50%;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.faq-header {
    font-size: 36px;
}

.faq-bold {
    font-weight: bold;
}

.redirect-icon {
    transform: scale(0.8);
}

.secondary-color {
    color: #FFCA3A
}

h2 {
    font-size: 36px;
}

.audition-date {
    font-size: 20px;

}

a {
    color: white;
}
