html {
    scroll-behavior: smooth;
}
.topnav {
    position: fixed;
    top: 0; left: 0;
    transform: translate(calc(50vw - 50%));
    background: linear-gradient(
        to right,
        rgba(255,255,255,0),
        rgba(255,255,255,0.25) 25% 75%,
        rgba(255,255,255,0));
    border-radius: 30px;
    padding: 15px;
    text-align: center;
    margin-top: 25px;
    z-index: 100000000;
}
.topnav a{
    border: 1px solid white;
    width: 144px;
    height: 63px; 
    padding-top: 30px;
    border-radius: 30px;
    padding: 15px;
    margin-right: 40px;
    text-decoration: none;
    color: white;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    font-size: 80%;
    text-align: center;
    
}
.topnav a:hover{
    background-color: #FFCA3A;
    color: white;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

#page-button {
    background-color: #FFCA3A;
    color: white;
}

body {
    background-color:black;
    color:white;
    font-family: Poppins;
}

.main-body {
    width: 70%;
    margin: auto;
}

#image-container {
    position: relative;
    width: 85%;
    margin: auto;
}

#landing-image {
    width: 100%;
    border-radius: 2%;
}

#centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo {
    width: 50%;
    display: block;
    margin: auto;
}

#est {
    font-size: 90%;
    line-height: 0px;
}

#book-button {
    font-size: 100%;
    padding: 20px;
    border-radius: 45px;
}

p {
    font-size: 24px;
    line-height: 36px;
}

.section-title {
    font-size: 32px;
    font-weight: 400;
    margin: 12px 0px;
}

.center-image{
    max-width: 70%;
    max-height: 100vh;
    margin: auto;
}

.center-image-container{
    display: grid;
}

.copyright {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.6vw + 0.6vh);
    padding-top: 4%;
    padding-bottom: 4%;
}

.group-name {
    display: block;
    font-family: Caveat;
    font-size: 100px;
    color: #FFCA3A;
    margin: 13px 0;
}

.intro-text {
    font-size: 36px;
    line-height: 54px;
}

.footer {
    background-color: white;
}

.logo-left{
    float:left;
    width: 10%;
    padding-left: 2%;
}

.music-container {
    display: inline-block;
    margin: 15px;
}

.music-card {
    width: 500px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(82, 82, 82, 0.36);
    color: white;
    text-decoration: none;

    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

.music-card:hover {
    background-color: white;
    color: black;

    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

.music-card img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    -webkit-user-drag: none;;
}

.music-card p {
    align-self: first baseline;
    margin: 15px 0px 10px 10px;
    font-size: 20px;
}

.carousel-container {
    display: flex;
    align-items: center;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    align-items: center;
}

.carousel-button {
    background: none;
    margin: 0 10px;
    border: none;
    color: white;
    font-size: 50px;
    height: 100%;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.carousel-button:hover {
    cursor: pointer;
}

.carousel-img {
    scroll-snap-align: start;
    max-width: 400px;
    max-height: 400px;
    margin: 30px;
    -webkit-user-drag: none;
}

.photo-credits {
    font-size: 12px;
    text-align: right;
}

.redirect {
    margin: 50px;
    text-align: center;
}

.redirect-button {
    border: 1px solid white;
    width: 144px;
    height: 63px;
    border-radius: 30px;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

.redirect-button:hover {
    background-color: #FFCA3A;
    color: white;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

.followup {
    display: block;
    font-size: 50px;
    font-weight: 500;
    padding-top: 25px;
}
.row {
    display: flex;
}

.column {
flex: 50%;
}
.email {
    color:white;
}

